.tarjeta__nuevo__mensaje{
    display: flex;
    justify-content: center;
    width: 55vw;
    min-height: 9.5rem;
    background-color: rgba(255, 255, 255, 0.952);
    border-radius: 9px;
    margin-top: 1rem;
    padding: 1.9rem 1.5rem 1.9rem 1.5rem;
    box-shadow: 16px 15px 50px -2px rgba(31, 31, 31, 0.24);
}
.tarjeta__nuevo__mensaje img{
    width: 2.2rem;
    height: 2.2rem;
    margin-right: 1.5rem;
}
.tarjeta__nuevo__mensaje textarea{
    resize: none;
    border-radius: 8px;
    font-size: 0.95rem;
    font-weight: 500;
    color: gray;
    line-height: 140%;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    cursor: pointer;
}
.tarjeta__nuevo__mensaje textarea:focus{
    outline: none;
    border: 2px solid hsl(239, 65%, 60%);
    cursor: auto;
}
.tarjeta__nuevo__mensaje button{
    width: 6rem;
    height: 2.5rem;
    border: none;
    border-radius: 6px;
    background-color: blue;
    color: white;
    font-size: 0.95rem;
    font-weight: 600;
    cursor: pointer;
    margin-left: 1.2rem;
}
.tarjeta__nuevo__mensaje button:hover{
    background-color: rgb(92, 92, 238);;
}
.validacion{
    color: red;
    margin-left: 0.5rem;
}
.validacion-borde{
    border: 2px solid red;
}
//MEDIA QUERY
@media only screen and (max-width: 600px){
    .tarjeta__nuevo__mensaje{
        width: 95vw;
        min-height: 8rem;
        justify-content: center;
        padding: 1rem 0.5rem 1rem 0.5rem;
    }
    .tarjeta__nuevo__mensaje button{
        margin-left: 0.5rem;
    }
    .tarjeta__nuevo__mensaje img{
        margin-right: 0.5rem;
    }
}
@media only screen and (min-width: 600px){
    .tarjeta__nuevo__mensaje{
        width: 90vw;
    }
}
@media only screen and (min-width: 992px){
    .tarjeta__nuevo__mensaje{
        width: 70vw;
    }
}
@media only screen and (min-width: 1200px){
    .tarjeta__nuevo__mensaje{
        width: 55vw;
    }
}