<div class="contenedor">
    <ul>
      <li *ngFor="let comentario of comentarios; index as indiceComentario" class="comentarios__lista">
        <!--Desde este *ngFor, se toma el comentario y luego se lo envia al componente hijo
        "tarjeta-comentario" para luego interpolarlo en la vista --> 
        <app-tarjeta-comentario [comentario]="comentario" ></app-tarjeta-comentario>
        <ul class="borde">
          <li *ngFor="let respuesta of comentario.replies">
            <app-respuesta [respuesta]="respuesta" [comentario]="comentario"></app-respuesta>
          </li>
          <!--Tarjeta respuesta usuario actual-->
          <li *ngFor="let respuesta of comentario.replies; index as indiceRespuesta">
            <app-respuesta-usuario-actual [respuesta]="respuesta" [indiceComentario]="indiceComentario" [indiceRespuesta]="indiceRespuesta" ></app-respuesta-usuario-actual>
          </li>
        </ul>
      </li>
    </ul>
</div>

