<div class="contenedor">
    <div  class="card__reply usuarioActual">
        <div class="reply__voto">
            <button class="voto__mas"></button>
            <p>10</p>
            <button class="voto__menos"></button>
        </div>
        <div class="usuarioActual__elementos">
            <div class="elemento__perfil__contenedor">
                <div class="perfil__perfil">
                    <img src="../../../assets/images/avatars/image-juliusomo.png" alt="">
                    <p class="elemento1__user">username</p>
                    <p class="perfil__you">you</p>
                    <p class="perfil_fecha elemento1__month">1 month ago</p>
                </div>
                <div class="perfil__botones">
                    <button class="boton__delete boton" >Delete</button>
                    <button class="boton__edit boton" >Edit</button>
                </div>
            </div>
            <div class="elemento__comentario comentario__comentario">
                <p *ngIf="true" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis aut molestias eius recusandae et eaque molestiae  </p>
                <textarea *ngIf="false" name="" id="" cols="50" rows="3"></textarea>
            </div>
            <div  class="elemento__update">
                <button >UPDATE</button>
            </div>
        </div>
    </div>   
</div>
