<div class="contenedor" *ngIf="respuesta.user.username == usuarioActual.username">
    <div  class="card__reply usuarioActual">
        <div class="reply__voto">
            <button class="voto__mas" (click)="votoMas(respuesta)"></button>
            <p>{{respuesta.score}}</p>
            <button class="voto__menos" (click)="votoMenos(respuesta)" ></button>
        </div>
        <div class="usuarioActual__elementos">
            <div class="elemento__perfil__contenedor">
                <div class="perfil__perfil">
                    <img src="../../../assets/images/avatars/image-juliusomo.png" alt="">
                    <p class="elemento1__user">username</p>
                    <p class="perfil__you">you</p>
                    <p class="perfil_fecha elemento1__month">1 month ago</p>
                </div>
                <div class="perfil__botones">
                    <button class="boton__delete boton" (click)="modalEliminar()" >Delete</button>
                    <button class="boton__edit boton" (click)="editar(indiceComentario, indiceRespuesta, respuesta.content)" >Edit</button>
                </div>
            </div>
            <div class="elemento__comentario comentario__comentario">
                <p *ngIf="indiceR == -1" >{{respuesta.content}}</p>
                <textarea *ngIf="indiceC == indiceComentario && indiceR == indiceRespuesta" [formControl]="editForm" name="" id="" cols="50" rows="3"></textarea>
            </div>
            <div  class="elemento__update">
                <button (click)="update(indiceC, indiceR, editForm.value)" >UPDATE</button>
            </div>
        </div>
    </div>
    <div class="modal" *ngIf="mostarModal">
        <div class="contenedor__mensaje">
            <div class="mensaje__pregunta">
                <h1>Delete comment</h1>
                <p>Are you sure you want to delete this comment? This will remove the comment
                     and can't be undone.
                </p>
            </div>
            <div class="mensaje__botones">
                <button class="boton__modal boton__modal--1" (click)="modalEliminar()" >NO, CANCEL</button>
                <button class="boton__modal boton__modal--2" (click)="eliminarRespuesta(indiceComentario, indiceRespuesta)" >YES, DELETE</button>
            </div>
        </div>
    </div>   
</div>
