<div class="contenedor">
    <div class="tarjeta__comentario">
        <div class="contenedor__voto">
            <button class="voto__boton voto__boton--mas"></button>
            <p>{{comentario.score}}</p>
            <button class="voto__boton voto__boton--menos"></button>
        </div>
        <div class="comentario__elementos">
            <div class="elemento__1">
                <div class="elemento__1__perfil">
                    <img [src]="comentario.user.image.png" alt="">
                    <p class="perfil__user">{{comentario.user.username}}</p>
                    <p class="perfil__date">{{comentario.createdAt}}</p>
                </div>
                <div class="elemento__1__boton">
                    <button (click)="abrirFormReply(comentario.user.username)" >Reply</button>
                </div>
            </div>
            <div class="elemento__2">
                <p>{{comentario.content}}</p>
            </div>
        </div>
    </div>
    <div *ngIf="comentario.user.username == mostrarFormulario" class="tarjeta__reply tarjeta__comentario">
        <img src="../../../assets/images/avatars/image-juliusomo.png" alt="">
        <textarea name="" id="" cols="50" rows="3"></textarea>
        <button  >Reply</button>
    </div>
</div>


