.contenedor{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.tarjeta__respuesta{
    display: flex;
    width: 45vw;
    min-height: 9.5rem;
    background-color: rgba(255, 255, 255, 0.952);
    border-radius: 9px;
    margin-top: 1rem;
    padding: 1.9rem 1.5rem 1.9rem 1.5rem;
}
.contenedor__voto{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: 1.4rem;
}
.contenedor__voto p{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(223, 19%, 93%);
    color: hsl(238, 40%, 52%);
    font-weight: 500; 
    width: 2.3rem;
    height: 2rem;
    cursor: default;
}
.voto__boton{
    width: 2.3rem;
    height: 2.2rem;
    background-color: hsl(223, 19%, 93%); 
    border: none;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 45%;
}
.voto__boton--mas{
    border-radius: 5px 5px 0 0;
    background-image: url("../../../assets/images/icon-plus.svg");
    
}
.voto__boton--menos{
    border-radius: 0 0 5px 5px;
    background-image: url("../../../assets/images/icon-minus.svg");
}

.respuesta__elementos{
    display: flex;
    flex-direction: column;
    width: 90%;
}
.elemento__1{
    display: flex;
    margin-bottom: 0.8rem;
}
.elemento__1__perfil{
    display: flex;
    align-items: center;
    width: 80%;
}
.perfil__user{
    font-weight: 700;
    margin-left: 1rem;
}
.perfil__date{
    font-weight: 400;
    color: gray;
    margin-left: 1rem;
}
.elemento__1__boton{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 20%;
    
}
.elemento__1__boton button{
    width: 5.6rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
    background-image: url("../../../assets/images/icon-reply.svg");
    background-repeat: no-repeat;
    background-size: 0.9rem;
    background-position-x: 5%;
    background-position-y: 50%;
    color: hsl(238, 40%, 52%);
    font-weight: 700;
    font-size: 1rem; 
}
.elemento__1__boton button:hover{
    opacity: 0.5;
}
.elemento__1__perfil img{
    width: 2.2rem;
    height: 2.2rem;
}
.elemento__2 p{
    color: rgb(126, 126, 126);
    line-height: 135%;
}
//Tarjeta Reply
.tarjeta__reply img{
    width: 2.2rem;
    height: 2.2rem;
    margin-right: 1.5rem;
}
.tarjeta__reply textarea{
    resize: none;
    border-radius: 8px;
    font-size: 0.95rem;
    font-weight: 500;
    color: gray;
    line-height: 140%;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    cursor: pointer;
}
.tarjeta__reply textarea:focus{
    outline: none;
    border: 2px solid hsl(239, 65%, 60%);
    cursor: auto;
}
.tarjeta__reply button{
    width: 6rem;
    height: 2.5rem;
    border: none;
    border-radius: 6px;
    background-color: blue;
    color: white;
    font-size: 0.95rem;
    font-weight: 600;
    cursor: pointer;
    margin-left: 1.2rem;
}
.tarjeta__reply button:hover{
    background-color: rgb(92, 92, 238);;
}

//Media Query
@media only screen and (max-width: 600px) {
    .tarjeta__respuesta{
        width: 90vw;
        justify-content: center;
        padding: 1rem 0 1rem 0;
    }
    .tarjeta__reply{
        width: 90vw;
        justify-content: center;
        padding: 1rem 0.5rem 1rem 0.5rem;
    }
    .tarjeta__reply button{
        margin-left: 0.5rem;
    }
    .tarjeta__reply img{
        margin-right: 0.5rem;
    }
    .contenedor__voto{
        display: none;
    }
    .elemento__1__boton{
        display: none;
    }
    .elemento__1__perfil{
        width: 100%;
    }
    .voto__reply__mobile{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 0.8rem;
    }
    .contenedor__voto__mobile{
        display: flex;
    }
    .contenedor__voto__mobile p{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: hsl(223, 19%, 93%);
        color: hsl(238, 40%, 52%);
        font-weight: 500; 
        width: 2.3rem;
        height: 2.2rem;
        cursor: default;
    }
    .voto__boton__mobile{
        width: 2.3rem;
        height: 2.2rem;
        background-color: hsl(223, 19%, 93%); 
        border: none;
        cursor: pointer;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 45%;
    }
    .voto__boton--mas__mobile{
        border-radius: 5px 0 0 5px;
        background-image: url("../../../assets/images/icon-plus.svg");
        
    }
    .voto__boton--menos__mobile{
        border-radius: 0 5px 5px 0;
        background-image: url("../../../assets/images/icon-minus.svg");
    }
    .boton__reply__mobile{
        display: flex;
        align-items: center;
        justify-content: flex-end; 
    }
    .boton__reply__mobile button{
        width: 5.6rem;
        border: none;
        background-color: transparent;
        cursor: pointer;
        background-image: url("../../../assets/images/icon-reply.svg");
        background-repeat: no-repeat;
        background-size: 0.9rem;
        background-position-x: 5%;
        background-position-y: 50%;
        color: hsl(238, 40%, 52%);
        font-weight: 700;
        font-size: 1rem; 
    }
    .boton__reply__mobile button:hover{
        opacity: 0.5;
    }
}
@media only screen and (min-width: 600px) {
    .tarjeta__respuesta{
        width: 80vw;
    }
    .voto__reply__mobile{
        display: none;
    }
}
@media only screen and (min-width: 768px) {
    .tarjeta__respuesta{
        width: 80vw;
    }
}
@media only screen and (min-width: 992px) {
    .tarjeta__respuesta{
        width: 62vw;
    }
}
@media only screen and (min-width: 1200px) {
    .tarjeta__respuesta{
        width: 50vw;
    }
}



