<div class="contenedor" *ngIf="respuesta.user.username !== usuarioActual.username" >
    <div class="tarjeta__respuesta">
        <div class="contenedor__voto">
            <button class="voto__boton voto__boton--mas"></button>
            <p>{{respuesta.score}}</p>
            <button class="voto__boton voto__boton--menos"></button>
        </div>
        <div class="respuesta__elementos">
            <div class="elemento__1">
                <div class="elemento__1__perfil">
                    <img [src]="respuesta.user.image.png" alt="">
                    <p class="perfil__user">{{respuesta.user.username}}</p>
                    <p class="perfil__date">{{respuesta.createdAt}}</p>
                </div>
                <div class="elemento__1__boton">
                    <button (click)="abrirFormReplyRespuesta(respuesta.user.username)">Reply</button>
                </div>
            </div>
            <div class="elemento__2">
                <p>{{respuesta.content}}</p>
            </div>
        </div>
    </div>
    <div *ngIf="respuesta.user.username == abrirFormRespuesta" class="tarjeta__reply tarjeta__respuesta">
        <img src="../../../assets/images/avatars/image-juliusomo.png" alt="">
        <textarea [formControl]="formReplyRespuesta" name="" id="" cols="50" rows="3"></textarea>
        <button (click)="replyRespuesta(respuesta)" >Reply</button>
    </div>
</div>